#!/bin/bash

#This contains directories in which different architecture files are stored and other configurations

get_device () {
    # Parses output from kpartx
    echo "/dev/mapper/$(echo $1 | cut -d ' ' -f 3)"
}

MIPS_DIR=linux/Mips/
MIPSEL_DIR=linux/Mipsel/
ARM_DIR=linux/Arm/
ARMEL_DIR=linux/Armel/
